* {
    box-sizing: border-box;
    font-family: Dotum,'돋움',Helvetica,'Apple SD Gothic Neo',sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.center-align { /*div는 #앞에 생략가능 나머지는 꼭써줘야해 header#등등*/
    margin: 0 auto;
    width: 1130px;
}

header {
    height: 170px;
}
#header-search {
    clear: both;
    padding-top: 20px;

}

#header-search > h1 { /* > 자식 태그에 적용 ' '띄어쓰기는 자손*/
    width: 222px;
    height: 52px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -6px;
}

#header-search h1 span { /* > 자식 태그에 적용 ' '띄어쓰기는 자손*/
    display: none;


}

#header-search h2 {
    display: inline-block;

}

#header-search fieldset {
    width: 582px;
    height: 56px;
    margin-left: 20px;
    padding: 12px 0 12px 10px; /*위 오른쪽 아래쪽 왼쪽*/
    border: 2px solid #03cf5d;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    width: 444px;
    height: 24px;
    vertical-align: bottom;
    font-size: 18px;
}

#header-search fieldset button {
    display: inline-block;
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;
    right: 0;
    top: -2px;
}

.search-image {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-position: -379px -120px;
    vertical-align: middle;
    background-repeat: no-repeat;

}

.display-inline-block {
    display: inline-block;
}

#header-top {
    float: right;
    padding-top: 10px;
}
#header-top a{
    text-decoration: none;

}
#header-top span:first-child{
    color: #888;
    font-size: 11px;
}

#search-ranking{
    padding-left: 50px;
    position: absolute;
    top: 15px;
    right: 145px;
}

#rank-number{
    margin-right: 5px;
    font-weight: bold;
    color: #03cf5d;
    font-size: 16px;
}
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.logo_naver {
    display: inline-block;
    width: 222px;
    height: 52px;
    background-position: 0 -161px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.ico_jrnaver {
    display: inline-block;
    width: 60px;
    height: 10px;
    margin: 3px;
    vertical-align: middle;
    background-position: -67px -303px;
}

.ico_happybin {
    display: inline-block;
    width: 34px;
    height: 11px;
    margin: 3px 3px 2px;
    vertical-align: middle;
    background-position: -67px -318px;
}

.main_images {
    background-image: url("./sp_main.bcbb48.png");
    background-size: 421px 393px;
}

nav {
    width: 100%;
    height: 51.6px;
    border-top: 2px solid #f1f3f6;
    border-bottom: 2px solid #f1f3f6;
    padding-top: 11px;
    padding-bottom: 11px;
    display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 12px;
}

nav li:first-child {
    margin: 0;
    padding: 0;
}

nav a {
    color: #03c75a;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
}
nav .text-color-black {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
}

main {
    width: 100%;
    display: inline-block;
}


.ico_mail {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 3px -2px 0 0;
    vertical-align: top;
    background-position: -379px -175px;
}

.ico_tv {
    display: inline-block;
    width: 12px;
    height: 14px;
    margin: 9px -2px 0 0;
    vertical-align: top;
    background-position: -408px -80px;
}

.ico_keyboard {
    display: inline-block;
    width: 20px;
    height: 12px;
    margin: -6px 0 0 -10px;
    vertical-align: top;
    background-position: -270px -337px;
    position: absolute;
    top: 50%;
    right: 90px;
}
.ico_arr {
    position: absolute;
    top: 50%;
    left: 87%;
    display: inline-block;
    width: 10px;
    height: 5px;
    margin: -2px 0 0 -5px;
    vertical-align: top;
    background-position: -291px -259px;
}

.position-relative{
    position: relative;

}

.flex{
    display: flex;
}

#main-ad {
    display: inline-block;
    width: 750px;
    height: 135px;
    background: gray;
}

#main-login {
    display: inline-block;
    width: 348px;
    height: 132px;
    background: gray;

}
